@model GestionFormation.DTO.SessionDeFormationDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SessionDeFormation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomFormateur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink("Ajouter/Modifier Formateur", "AddUpdateFormateur", "SessionDeFormations", new { area = "" }, new { @class = "btn" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomFormation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomFormation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ActionLink("Ajouter/Modifier Formation", "AddUpdateFormation", "SessionDeFormations", new { area = "" }, new { @class = "btn" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SessionDeCursusId, "SessionDeCursusId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SessionDeCursusId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SessionDeCursusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
