@model GestionFormation.DTO.FicheEval

@{int i = 0; }
@using (Html.BeginForm("PrintEval", "Apprenant", FormMethod.Post))
{
   

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/Content/FicheEvalstyle.css">
    </head>
    <body>

        <img src="~/Images/image1.PNG" alt="logo Dawan" />

        <h2>@ViewBag.Message5</h2>
        <h5 class="titre">Feuille d'évaluation</h5>
        <h6 class="semaine">
            <strong>semaine de la formation:</strong>  @ViewData["date3"] <strong>au </strong>  @ViewData["date4"]
            <br />
            <strong>Formateur:</strong>@ViewBag.Message6   @ViewBag.Message7
            <br />


        </h6>

        <h6 class="Apprenant">
            <strong>Nom et Prenom :</strong> @ViewBag.Message8  @ViewBag.Message9
            <br />
            <strong>Email:</strong> @ViewBag.Message10

        </h6>

        <form>
            <div class="form-group1">
                <div class="col-md-10">
                    <div>
                        <h4 class="Evironement"> Environnement de Travail</h4>
                        <h5>Acceuil</h5>
                        Excellent
                        @Html.RadioButtonFor(m => m.fiche1, "excellent")

                        Trés Bon
                        @Html.RadioButtonFor(m => m.fiche1, "TresBon")
                        Bon
                        @Html.RadioButtonFor(m => m.fiche1, "Bon")
                        Moyen
                        @Html.RadioButtonFor(m => m.fiche1, "Moyen")
                        Passable
                        @Html.RadioButtonFor(m => m.fiche1, "Passable")

                    </div>

                </div>
            </div>
            
            <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Salle de Formation</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche2, "excellent")

                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche2, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche2, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche2, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche2, "Passable")
                </div>

            </div>

        </div>

        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Moyen technique Mise en oeuvre</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche3, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche3, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche3, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche3, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche3, "Passable")
                </div>

            </div>

        </div>

        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h4>Cours </h4>
                    <h5>Richesse de cours </h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche4, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche4, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche4, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche4, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche4, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Progression logique du cours </h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche5, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche5, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche5, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche5, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche5, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Choix des exemples et des exercices</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche6, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche6, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche6, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche6, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche6, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Support de références</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche14, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche14, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche14, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche14, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche14, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>commentaire</h5>
                    @Html.TextAreaFor(model => model.Commentaire, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h4>Adéquation à vos besoin </h4>
                    <h5>Rythme de la formation</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche7, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche7, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche7, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche7, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche7, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Niveau Adapté à vos besoin </h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche8, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche8, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche8, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche8, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche8, "Passable")
                </div>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Niveau Adapté à vos besoin </h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche9, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche9, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche9, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche9, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche9, "Passable")
                </div>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h5>Réponse à vos besoins professionnels </h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche13, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche13, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche13, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche13, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche13, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>commentaire</h5>
                    @Html.TextAreaFor(model => model.Commentaire1, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <div>
                    <h4>Formateur</h4>
                    <h5>Maitrise Technique</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche10, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche10, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche10, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche10, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche10, "Passable")
                </div>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                <div>

                    <h5>Qualité de communication</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche11, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche11, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche11, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche11, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche11, "Passable")
                </div>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                <div>

                    <h5>Capacité d'écoute et disponibilité</h5>
                    Excellent
                    @Html.RadioButtonFor(m => m.fiche12, "excellent")
                    Trés Bon
                    @Html.RadioButtonFor(m => m.fiche12, "TresBon")
                    Bon
                    @Html.RadioButtonFor(m => m.fiche12, "Bon")
                    Moyen
                    @Html.RadioButtonFor(m => m.fiche12, "Moyen")
                    Passable
                    @Html.RadioButtonFor(m => m.fiche12, "Passable")
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>commentaire</h5>
                    @Html.TextAreaFor(model => model.Commentaire2, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>Envisager vous de suivre une nouvelle formation ? (si oui laquelle?) </h5>
                    @Html.TextAreaFor(model => model.Question, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>Seriez-vous intéréssé(e) par une prestation de service (assistance technique, développement d'application, ...) </h5>
                    @Html.TextAreaFor(model => model.Question1, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>Avez vous des personnes à contacter dans votre entourage personnel ou professionnel pour un projet de formation? </h5>
                    @Html.TextAreaFor(model => model.Question2, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>Remarques Complémentaires </h5>
                    @Html.TextAreaFor(model => model.Question3, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>


        @*<div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>commentaire</h5>
                    @Html.TextAreaFor(model => model.Commentaire3, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-10">
                <div>
                    <h5>Signature</h5>
                    @Html.TextAreaFor(model => model.Commentaire4, new { style = "width: 500px;", @rows = 3 })
                </div>

            </div>
            </div> <input type="submit" class="btn btn-danger" value="télécharger Ma feuille d'évaluation" />
                       @*<button type="button" class="btn btn-outline-danger">Feuille d'évaluation</button>*@

        </form>

    </body>
</html>


}

