@model GestionFormation.DTO.UserDTO

@{
    ViewBag.Title = "Feuille de présence ";
}

<h2>Feuille de Présence </h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            <label>Semaine de la Formation</label>
        </dd>
        <dd>

            <h4>n° de la semaine </h4>
            <p>@((ViewData["date"]))</p>
            <h6>Semaine de formation</h6>
            <p>
                @ViewData["date1"]
                @ViewData["date2"]
            </p>
            <h4>Formateur </h4>
            <p>
                @ViewBag.Message   @ViewBag.Message1

            </p>
            <h4> Nom de la Formation </h4>
            <p>@ViewBag.Message2</p>

            <h4> Cursus </h4>
            <p>@ViewBag.Message3</p>
        </dd>


        <dd>
            <label>nombre de jours d'abscence </label>
            <input type="text">
            
        </dd>
        <dd>
            <label>Signature</label>
        </dd>

</div>


