@model GestionFormation.DTO.FicheEval


<img src="~/Images/image1.PNG" alt="logo Dawan" />

<h2>Feuille D'evaluation</h2>
<h4>semaine de la formation </h4>
@ViewData["date3"]    @ViewData["date4"]




@using (Html.BeginForm("PrintEval", "Apprenant", FormMethod.Post))
{
    <form>

        <h4> Environnement de Travail</h4>
        <p>
            <h5>Acceuil</h5>
            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable)

        </p>
        <p>
            <h5>Salle de Formation </h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent1)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon1)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon1)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen1)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable1)
        </p>
        <p>
            <h5>Moyen Technique Mis en oeuvre </h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent2)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon2)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon2)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen2)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable2)

        </p>
        <h5>Commentaires</h5>
        @Html.TextAreaFor(model => model.Commentaire, new { style = "width: 500px;", @rows = 3 })

        <h4> Cours</h4>
        <p>
            <h5>Richesse du cours</h5>
            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent3)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon3)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon3)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen3)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable3)

        </p>
        <p>
            <h5>Progression logique du cours </h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent4)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon4)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon4)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen4)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable4)
        </p>
        <p>
            <h5>Choix des exemples et des exercices</h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent5)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon5)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon5)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen5)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable5)
        </p>

        <p>
            <h5>Support de références</h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent6)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon6)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon6)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen6)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable6)
        </p>
        <h5>Commentaires</h5>
        @Html.TextAreaFor(model => model.Commentaire1, new { style = "width: 500px;", @rows = 3 })

        <h4> Adéquation à vos besoins </h4>
        <p>
            <h5>Rythme de la formation</h5>
            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent7)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon7)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon7)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen7)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable7)

        </p>
        <p>
            <h5>Niveau Adapté à vos besoin </h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent8)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon8)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon8)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen8)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable8)
        </p>
        <p>
            <h5>Reponse à vos besoins Professionnels</h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent9)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon9)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon9)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen9)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable9)
        </p>

        <h5>Commentaires</h5>
        @Html.TextAreaFor(model => model.Commentaire2, new { style = "width: 500px;", @rows = 3 })

        <h4> Formateur </h4>
        <p>
            <h5>Maitrise Technique </h5>
            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent10)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon10)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon10)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen10)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable10)

        </p>
        <p>
            <h5>Qualité de Communication</h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent11)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon11)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon11)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen11)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable11)
        </p>
        <p>
            <h5>RCapacité d'écoute et disponibilité</h5>

            <label class="checkbox-inline">Excellent</label>
            @Html.CheckBoxFor(model => model.Excellent12)
            <label class="checkbox-inline">Trés Bon</label>
            @Html.CheckBoxFor(model => model.TresBon12)
            <label class="checkbox-inline">Bon</label>
            @Html.CheckBoxFor(model => model.Bon12)
            <label class="checkbox-inline">Moyen</label>
            @Html.CheckBoxFor(model => model.Moyen12)
            <label class="checkbox-inline">Passable</label>
            @Html.CheckBoxFor(model => model.Passable12)
        </p>
        <h5>Commentaires</h5>
        @Html.TextAreaFor(model => model.Commentaire3, new { style = "width: 500px;", @rows = 3 })



        <h4>Envisager vous de suivre une nouvelle formation ? (si oui laquelle?) </h4>
        @Html.TextAreaFor(model => model.Question, new { style = "width: 500px;", @rows = 3 })

        <h4>Seriez-vous intéréssé(e) par une prestation de service (assistance technique, développement d'application, régi...) </h4>
        @Html.TextAreaFor(model => model.Question1, new { style = "width: 500px;", @rows = 3 })

        <h4>Avez vous des personnes à contacter dans votre entourage personnel ou professionnel pour un projet de formation?  </h4>
        @Html.TextAreaFor(model => model.Question2, new { style = "width: 500px;", @rows = 3 })

        <h4>Remarques complémentaires </h4>
        @Html.TextAreaFor(model => model.Question3, new { style = "width: 500px;", @rows = 3 })

        <h4>Signature</h4>


        <input type="submit" value="télécharger Ma feuille d'évaluation" />
    </form>







}

