@model IEnumerable<GestionFormation.DTO.UserDTO>
<br />
<br />
<img src="~/Images/image1.PNG" alt="logo Dawan" />
<h2>Bienvenue chez Dawan !!</h2>

@{
    ViewBag.Title = "Index";
    GestionFormation.DTO.EmailAEnvoyerDTO emailAEnvoyerDTO = ViewBag.emailAEnvoyerDTO != null ? ViewBag.emailAEnvoyerDTO : new GestionFormation.DTO.EmailAEnvoyerDTO(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Id);

}




@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MotDePasse)
            </th>*@
        <th></th>
    </tr>
    <tr>
        <td>@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Nom)</td>
        <td>@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Prenom)</td>

        <td>@(((GestionFormation.DTO.UserDTO)Session["userConnected"]).Email)</td>

    </tr>





</table>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBlockEmail" aria-expanded="false" aria-controls="collapseBlockEmail">
    Ouvrir/Fermer envoi Email
</button>
</p>
<div class="collapse" id="collapseBlockEmail">
    <div class="card card-body">
        @Html.Partial("_EnvoyerEmail", emailAEnvoyerDTO)
    </div>
</div>

