<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><img class="navbar-logo" src="~/Images/dawan.png" alt="Logo DAWAN" /></li>
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                @*<li>@Html.ActionLink("Formations", "Index", "Formation")</li>
                    <li>@Html.ActionLink("Session De Formation", "Index", "SessionDeFormations")</li>*@
                @*<li>@Html.ActionLink("Apprenant", "Index", "Apprenant")</li>*@


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Les formations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">@Html.ActionLink("Formations", "Index", "Formation")</a></li>
                        <li><a class="dropdown-item" href="#">@Html.ActionLink("Session De Formation", "Index", "SessionDeFormations")</a></li>
                    </ul>
                </li>


                @if (Session["userConnected"] != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Apprenant
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">@Html.ActionLink("Emploi Du Temps", "Index", "EmploiDuTemps")</a></li>
                            <li><a class="dropdown-item" href="#">@Html.ActionLink("Partage de Fichiers", "Index", "PartageFichier")</a></li>
                            <li><a class="dropdown-item" href="#">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
                        </ul>
                    </li>

                }

                <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>

                @if (Session["userConnected"] != null)
                {
                    <li>@Html.ActionLink("Déconnexion", "Logout", "Authentification")</li>

                    @*<li>@Html.ActionLink("Emploi Du Temps", "Index", "EmploiDuTemps")</li>
                        <li>@Html.ActionLink("Partage de Fichiers", "Index", "PartageFichier")</li>
                        <li>@Html.ActionLink("Déconnexion", "Logout", "Authentification")</li>*@
                }
            </ul>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="basdepage">
            <p>&copy; @DateTime.Now.Year - DAWAN</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
