@model GestionFormation.DTO.LoginDTO


@using (Html.BeginForm("Login", "Authentification", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/pagecnx.css" rel="stylesheet">
    <link href="~/Content/pagedaceuil.css" rel="stylesheet">
    <div class="form-horizontal">
        <img class="logodawan" src="~/Images/dawan.png" />
        <h3 classe="title">Connectez vous</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Role)


        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adresse mail" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>


        <div class="col-md-10">
            @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mot de passe" } })
            @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
        </div>
        @if (ViewBag.Referer != null)
        {
            <input type="hidden" name="referer" value="@ViewBag.Referer" />
        }

        <div class="form-group-sm">
            <input type="submit" value="connexion" class="btn btn-default btn-primary" style="width:220px; height:50px" />
        </div>
    </div>
}
    <div class="menu">

        <button class="p p1" onclick="location.href='@Url.Action("Index", "Formation")';"><p><h4>Formations</h4><h6>listes des formations, formateurs...</h6></p></button>

        <button class="p p2" onclick="location.href='@Url.Action("Index", "SessionDeFormations")';return false;"><p><h4>Sessions formations</h4><h6><br /></h6></p></button>

        <button class="p p3" onclick="location.href='@Url.Action("Index", "Help")';return false;"><p><h4>API</h4><h6><br /></h6></p></button>

        <button class="p p4" onclick="location.href='@Url.Action("About", "Home")';return false;"><p><h4>A propos</h4><h6>Mot du directeur</h6></p></button>

        <button class="p p5" onclick="location.href='@Url.Action("Contact", "Home")';return false;"><p><h4>Contact</h4><h6>Notre emplacement, formulaire de contact, réseaux sociaux</h6></p></button>

    </div>


<div class="back">
    @Html.ActionLink("Problèmes de connexion ?", "Contact", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}