
@using GestionFormation.DTO

@{
    ViewBag.Title = "Home Page";
}
@if (Session["userConnected"] != null)
{
    <h3>Bonjour @(((UserDTO)Session["userConnected"]).Prenom) !!!</h3>
    @Html.ActionLink("Se déconnecter", "Logout", "Authentification")
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/pagedaceuil.css" rel="stylesheet">
<div class="header">
    <img src="~/Images/header.jpg" alt="Formez vous à distance" height="300" width="1250" />
</div>

<div class="menu">

   

    <button class="p p1" onclick="location.href='@Url.Action("Index", "Formation")';"><p><h3>Formations</h3><h5>listes des formations, formateurs...</h5></p></button>


    <button class="p p2" onclick="location.href='@Url.Action("Index", "SessionDeFormations")';return false;"><p><h3>Sessions formations</h3><h5><br /></h5></p></button>

    @if (Session["userConnected"] != null)
    {
        <button class="p p3" onclick="location.href='@Url.Action("Index", "Apprenant")';return false;"><p><h3>Apprenant</h3><h5>Profil, envoyez un mail à votre formateur...</h5></p></button>
    }

    @if (Session["userConnected"] == null)
    {
        <button class="p p3" onclick="location.href='@Url.Action("Login", "Authentification")';return false;"><p><h3>Apprenant</h3><h5>Se connecter</h5></p></button>
    }

    <button class="p p4" onclick="location.href='@Url.Action("Index", "Help")';return false;"><p><h3>API</h3><h5><br /></h5></p></button>


    @if (Session["userConnected"] != null)
    {
        <button class="p p5" onclick="location.href='@Url.Action("Index", "EmploiDuTemps")';return false;"><p><h3>Emploi du temps</h3></p></button>
    }

    <button class="p p6" onclick="location.href='@Url.Action("About", "Home")';return false;"><p><h3>A propos</h3><h5>Mot du directeur, informations générales</h5></p></button>


    <button class="p p7" onclick="location.href='@Url.Action("Contact", "Home")';return false;"><p><h3>Contact</h3><h5>Nous contacter, Notre emplacement, venez nous visiter</h5></p></button>


</div>



