@using System.Globalization;
@using GestionFormation.Services;
@model IEnumerable<GestionFormation.DTO.JourneeDTO>

@{
    //Pour mettre la première lettre des jours en majuscule
    TextInfo textInfo = new CultureInfo("fr-FR").TextInfo;

    //Pour changer la class des colonnes dans le cas ou c'est un jours férié
    string classColumn;
}

<div class="edt-titre-block">
    @Html.ActionLink("Semaine Précédente", "NextWeek", new { dateReference = ViewBag.DateLundi.AddDays(-7) }, new { @class = "edt-btn-next-link edt-btn-next-gauche" })
    <span class="edt-titre-text">@ViewBag.Title</span>
    @Html.ActionLink("Semaine Suivante", "NextWeek", "EmploiDuTemps", new { dateReference = ViewBag.DateLundi.AddDays(7) }, new { @class = "edt-btn-next-link" })
</div>


<table class="edt-semaine">

    <!-- Header du tableau -> Jours de la semaine + dates -->
    <tr class="edt-header-semaine">

        @for (int index_jours = 0; index_jours < 7; index_jours++)
        {
            <th class="edt-column edt-header-column">
                <p> @textInfo.ToTitleCase(ViewBag.DateLundi.AddDays(index_jours).ToString("dddd", new CultureInfo("fr-FR"))) </p>
                <p>@ViewBag.DateLundi.AddDays(index_jours).ToString("dd/MM/yyyy")</p>
            </th>
        }

    </tr>

    <!-- Contenu des Journées de la semaine -> Formation + formateur -->
    <tr class="edt-body-semaine">

        @for (int index_jours = 0; index_jours < 7; index_jours++)
        {
            classColumn = "edt-container-journee";
            if (EmploiDuTempsService.EstFerie(ViewBag.DateLundi.AddDays(index_jours)))
            {
                classColumn += " edt-container-journee-ferie";
            }


            //Dans tous les cas, on veut 7 colonnes
            <td class="edt-column edt-body-column">
                <div class="@classColumn">
                    @* On remploi les colonnes *@
                    @foreach (var item in Model)
                    {
                        if (item.Date.ToString("dd/MM/yyyy") == @ViewBag.DateLundi.AddDays(index_jours).ToString("dd/MM/yyyy"))
                        {
                            <div class=edt-container-journee-ue>
                                <div class="edt-journee-formation">
                                    <span class="edt-journee-formation-nom">@item.Formation.Nom</span>
                                </div>
                                <div class="edt-journee-formateur">
                                    <span class="edt-journee-formateur-nom">@item.Formation.Description </span>
                                </div>
                                <div class="edt-journee-formateur">
                                    <span class="edt-journee-formateur-nom">@item.Formateur.Nom  @item.Formateur.Prenom </span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        }

    </tr>

</table>