@model DateTime

@{
    //Pour remplir le tabeau avec les numéro jours
    bool start = false;
    int compteur = 1;

    //pour set la class des liens
    string classLink;

}

<div class="edt-month">

    <div class="edt-month-header">
        @Ajax.ActionLink(
                    "<",                        // texte à afficher
                    "NextMonth/" + "-1",        // Action
                    "EmploiDuTemps",            // Controller

                    // les options
                    new AjaxOptions
                    {
                        UpdateTargetId = "_EdtMonth",           // id de l'élément du DOM à modifier
                        InsertionMode = InsertionMode.Replace,  // stratégie de remplissage de la cible du DOM
                        HttpMethod = "GET"                      // Méthode HTTP
                    }
        )
        <span class="edt-month-header-titre">@(((DateTime)Model).ToString("MMMM yyyy"))</span>
        @Ajax.ActionLink(
                    ">",                // texte à afficher
                    "NextMonth/" + "1",         // Action
                    "EmploiDuTemps",    // Controller

                    // les options 
                    new AjaxOptions
                    {
                        UpdateTargetId = "_EdtMonth",           // id de l'élément du DOM à modifier
                        InsertionMode = InsertionMode.Replace,  // stratégie de remplissage de la cible du DOM
                        HttpMethod = "GET"                      // Méthode HTTP
                    }
        )
    </div>

    <table class="edt-mois">

        <!-- Header du tableau -> Jours de la semaine + dates -->
        <tr class="edt-header-semaine">

            <th class="edt-mois-column edt-mois-column-header">
                L
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                M
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                M
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                J
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                V
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                S
            </th>
            <th class="edt-mois-column edt-mois-column-header">
                D
            </th>
        </tr>

        @for (int ligne = 0; ligne < 6; ligne++)
        {
            <tr>
                @for (int index_jours = 0; index_jours < 7; index_jours++)
                {
                    //DayOfWekk : Dimanche = 0 .... Samedi = 6
                    //On remet les jours dans l'ordre : Lundi = 0 ...... dimanche = 6
                    int joursSemaine = (int)(new DateTime((int)Model.Year, (int)Model.Month, 1).DayOfWeek) == 0 ? 6 : (int)(new DateTime((int)Model.Year, (int)Model.Month, 1).DayOfWeek) - 1;

                    if (joursSemaine == index_jours) { start = true; }
                    if (start == true && compteur > DateTime.DaysInMonth((int)Model.Year, (int)Model.Month)) { start = false; }

                    <td class="edt-mois-column">

                        @if (start == true)
                        {
                            <script>@(classLink = "edt-mois-btn-jours")</script>

                            if (((DateTime)TempData["dateReference"]).ToString("dd/MM/yyyy") == new DateTime((int)Model.Year, (int)Model.Month, compteur).ToString("dd/MM/yyyy")) { classLink += "  edt-mois-btn-jours-reference"; }

                            @Html.ActionLink($"{compteur}", "NextWeek", "EmploiDuTemps", new { dateReference = new DateTime((int)Model.Year, (int)Model.Month, compteur) }, new { @class = $"{classLink}" })

                            <!-- Dans un script pour qu'il ne soit pas visible -->
                            <!-- Après le link sinon l'incrémentation sera pris en compte dedans -->
                            <script> @(compteur++) </script>
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
