@model IEnumerable<GestionFormation.DTO.JourneeDTO>

@{
    //Pour le Calcul du numéro de la semaine
    System.Globalization.DateTimeFormatInfo dfi = System.Globalization.DateTimeFormatInfo.CurrentInfo;
    System.Globalization.Calendar cal = dfi.Calendar;
    int WeekIndex = cal.GetWeekOfYear(ViewBag.DateLundi, dfi.CalendarWeekRule, dfi.FirstDayOfWeek) - 1;

    ViewBag.Title = "Emploi du temps de la Semaine " + WeekIndex;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formation.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formateur.Nom)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formateur.Nom)
            </td>
            
            <td>
                @*
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                *@
            </td>
        </tr>
    }

</table>


    @Html.ActionLink("Semaine Précédente", "NextWeek", new { dateReference = ViewBag.DateLundi.AddDays(-7) })
    <hr />
    @Html.ActionLink("Semaine Suivante", "NextWeek", new { dateReference = ViewBag.DateLundi.AddDays(7) })
