@model IEnumerable<GestionFormation.DTO.JourneeDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formation.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formateur.Nom)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formateur.Nom)
            </td>
            
            <td>
                @*
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                *@
            </td>
        </tr>
    }

</table>


    @Html.ActionLink("Semaine Précédente", "NextWeek", new { dateReference = Model.ElementAt(2).Date.AddDays(-7) }, FormMethod.Post)
    <hr />
    @Html.ActionLink("Semaine Suivante", "NextWeek", new { dateReference = Model.ElementAt(2).Date.AddDays(7) }, FormMethod.Post)
