@using System.Configuration;

@model GestionFormation.Models.DirectoryModel

@if (Model.DirPath != null)
{
    <div class="onglet-container">
        <div class="previous-directory onglet onglet-padding">

            <a onclick="PreviousFolder('@Model.DirPath.Replace("\\","\\\\")')"
               class="btn-partage-fichier btn-partage-fichier-previous">
                <img src="~/Images/Img_PartageFichier/LeftArrow.png" alt="" class="btn-icon-arrow" />
            </a>
            <div class="directory-path-label">@Model.DirPath</div>
        </div>

        <div class="create-directory onglet">
            <button type="button" class="btn-partage-fichier" onclick="CreateDirectory()">Create</button>
            <input type="hidden" name="createDirectory-dirPath" id="createDirectory-dirPath" value="@Model.DirPath" />
            <input type="text" name="createDirectory-dirName" id="createDirectory-dirName" 
                   onfocus="if(this.value == 'Nouveau dossier ...')this.value = '';" value="Nouveau dossier ..." />
            <button onclick="DisplayDeleteButton()" class="btn-partage-fichier">Delete</button>
        </div>

        <div class="file-deposit onglet">
            @using (Html.BeginForm("CreateFile", "PartageFichier", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="dirPath" id="dirPath" value="@Model.DirPath" />
                <input type="file" name="myFile" id="myFile" class="input-file" />
                <button type="submit" class="btn-partage-fichier" id="btn-file">Add</button>
            }
        </div>
    </div>


    <div class="datagrid" id="datagrid">

        @foreach (var item in Model.Directories)
        {
            <div class="partageFichier-fenetre">
                <a onclick="DeleteDirectory('@Model.DirPath.Replace("\\","\\\\")', '@item')"
                   class="icon-partageFichier-link-croix">
                    <img src="~/Images/Img_PartageFichier/croix3.png" alt=""
                         class="icon-partageFichier-link-croix" />
                </a>
                <a onclick="GoInDirectory('@(Path.Combine(Model.DirPath,item).Replace("\\","\\\\"))')"
                   class="icon-partageFichier-link-file">
                    <img src="~/Images/Img_PartageFichier/folder.png" alt="" class="icon-partageFichier" />
                    <p class="partage-fichier-icon-texte">@item</p>
                </a>
            </div>

        }

        @foreach (var item in Model.Files)
        {

            <div class="partageFichier-fenetre">
                <a onclick="DeleteFile('@Model.DirPath.Replace("\\","\\\\")', '@item')"
                   class="icon-partageFichier-link-croix">
                    <img src="~/Images/Img_PartageFichier/croix3.png" alt=""
                         class="icon-partageFichier-link-croix" />
                </a>
                <a href='@Url.Action("Download", "PartageFichier", new { fileName = Path.Combine(Model.DirPath, item).Replace("\\", "\\\\") })'
                   class="icon-partageFichier-link-file">
                    <img name="@(item.Split('.')[item.Split('.').Length-1])"
                         class="icon-partageFichier icon-partageFichier-file" />
                    <p class="partage-fichier-icon-texte">@item</p>
                </a>
            </div>
        }

    </div>
}