@using System.Configuration;

@model GestionFormation.Models.DirectoryModel

@if (Model.DirPath != null)
{
    <div class="onglet-container">
        <div class="previous-directory onglet onglet-padding">

            <a onclick="PreviousFolder('@Model.DirPath.Replace("\\","\\\\")')"
               class="btn-partage-fichier btn-partage-fichier-previous">
                <img src="~/Images/Img_PartageFichier/LeftArrow.png" alt="" class="btn-icon-arrow" />
            </a>
            <div class="directory-path-label">@Model.DirPath</div>
        </div>

        <div class="create-directory onglet">
            @using (Html.BeginForm("CreateDirectory", "PartageFichier", FormMethod.Get))
            {
                <button type="submit" class="btn-partage-fichier">Create</button>
                <input type="hidden" name="dirPath" id="dirPath" value="@Model.DirPath" />
                <input type="text" name="dirName" id="dirName" value="Nouveau dossier ..." />
            }

        </div>

        <div class="file-deposit onglet">
            @using (Html.BeginForm("CreateFile", "PartageFichier", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="dirPath" id="dirPath" value="@Model.DirPath" />
                <input type="file" name="myFile" id="myFile" class="input-file" />
                <button type="submit" class="btn-partage-fichier" id="btn-file">Add</button>
            }
        </div>
    </div>


    <div class="datagrid" id="datagrid">

        @foreach (var item in Model.Directories)
        {
            <a onclick="RefreshDetails('@(Path.Combine(Model.DirPath,item).Replace("\\","\\\\"))')" class="partageFichier-fenetre">
                <img src="~/Images/Img_PartageFichier/folder.png" alt="" class="icon-partageFichier" />
                <p class="partage-fichier-icon-texte"><span>@item</span></p>
            </a>
        }

        @foreach (var item in Model.Files)
        {

            <a href='@Url.Action("Download", "PartageFichier", new { fileName = Path.Combine(Model.DirPath, item).Replace("\\", "\\\\") })' class="partageFichier-fenetre">
                <img src="~/Images/Img_PartageFichier/file.png" class="icon-partageFichier" />
                <p class="partage-fichier-icon-texte" id="partage-fichier-icon-texte">@item</p>
            </a>

        }

    </div>
}