@using System.Configuration;

@model GestionFormation.Models.DirectoryModel

<h2>Details</h2>

<table class="table">
    <tr>
        <th>Nom des dossiers / fichiers</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Directories)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Split('\\')[item.Split('\\').Length - 1], "Details", new { dirPath = item } )
            </td>
        </tr>
    }

    @foreach (var item in Model.Files)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Split('\\')[item.Split('\\').Length-1], "Download", new { fileName = item})
            </td>
        </tr>
    }

</table>

<div>
    @using (Html.BeginForm("CreateDirectory", "PartageFichier", FormMethod.Get))
    {
        <input type="hidden" name="dirPath" id="dirPath" value="@Model.DirPath" />
        <input type="text" name="dirName" id="dirName" />
        <button type="submit">Créer le Dossier</button>
    }
</div>
<div>
    @using (Html.BeginForm("CreateFile", "PartageFichier", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input type="hidden" name="dirPath" id="dirPath" value="@Model.DirPath" />
        <input type="file" name="myFile" id="myFile" />
        <button type="submit">Déposer le fichier</button>
    }
</div>
