@using GestionFormation.Models

@model GestionFormation.Models.PartageFichierModel

@Styles.Render("~/Content/PartageFichier.css")

<h3>Choississez La Session de Cursus pour laquelle vous voulez consulter/déposer un fichier</h3>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script>
        $(document).ready(function () {
            $("#SessionCursus").change(function () {
                if ($("#SessionCursus").val() != "") SessionCursus();
                else $("#Details").html("");
            });
        });

        function SessionCursus() {
            const obj = {
                dirPath: $("#SessionCursus").val(),
            }

            GetDetails(obj);
        };

        function RefreshDetails(param) {
            const obj = {
                dirpath: param,
            }

            GetDetails(obj);
        };

        function GetDetails(obj) {
            const options = {
                method: 'POST',
                body: JSON.stringify(obj),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            fetch("/PartageFichier/Details", options)
                .then(function (response) {
                    // The API call was successful!
                    return response.text();
                }).then(function (html) {
                    $("#Details").html(html);
                }).catch(function (err) {
                    // There was an error
                    console.warn('Something went wrong.', err);
                });
        }

    </script>
}

<select name="SessionCursus" id="SessionCursus">
    <option value="">Sélectionnez votre Session de Cursus</option>

    @foreach (var item in Model.listSessionCursus)
    {
        <option value="@item.Id"> @item.Nom </option>
    }
</select>

<br />

<div id="Details">
    <!-- De base, le model de détail est vide car on a pas sélectionné de SessionDeCursus -->
    @Html.Partial("_Details", Model.DirectoryModel)
</div>


