@using GestionFormation.Models

@model GestionFormation.Models.PartageFichierModel

@Styles.Render("~/Content/PartageFichier.css")

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/dotdotdot-js-master/dist/dotdotdot.js")
    @Scripts.Render("~/Scripts/PartageFichierScript.js")
}

<div class="partage-fichier-header">
    <p>Sélectionner la Session de Cursus</p>

    <select name="SessionCursus" id="SessionCursus">
        <option value="">Sélectionnez votre Session de Cursus</option>
        @foreach (var item in Model.listSessionCursus)
        {
            <option value="@item.Id"> @item.Nom </option>
        }
    </select>
</div>

<div id="Details">
    <!-- De base, le model de détail est vide car on a pas sélectionné de SessionDeCursus -->
    @Html.Partial("_Details", Model.DirectoryModel)
</div>


