@model IEnumerable<GestionFormation.DTO.FormationDTO>

@{
    ViewBag.Title = "Liste de Formations";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.FormationId */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.FormationId */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.FormationId */ })
        </td>
    </tr>
}

</table>
