@model GestionFormation.DTO.LoginDTO

@Html.Partial("_Login", Model)


@if (ViewBag.Message != null)
{
    @*<h4 class="@ViewBag.AlertVisibility text-center"><span class="glyphicon glyphicon-ok-sign"></span> @ViewBag.Message</h4>*@
    <div class="errormsg  alert alert-danger">
        @ViewBag.message
    </div>
}
@if (ViewBag.Message1 != null)
{
    @*<h4 class="@ViewBag.AlertVisibility text-center"><span class="glyphicon glyphicon-ok-sign"></span> @ViewBag.Message</h4>*@
    <div class="errormsg  alert alert-danger">
        @ViewBag.message1
    </div>
}


@*@ViewBag.Message*@


